* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #F2F2F2;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
 main {
    background-color: white;
    width: 1200px;
    margin: auto;
 }
ul {
    list-style-type: none;
    margin: 20px 0px;
}
